<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Student Fees v5</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/app.css" rel="stylesheet">
  <style>
    body{
  width: 100%;
  overflow-x: hidden;
}
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-white"><div style="margin-left: 44%;" class="col-12 container-fluid "><a class="navbar-brand " href="/"><img src="/static/img/logo.webp" alt="AI Tech Academy Logo"></a></div></nav>
<br>
<main class="container py-3">{% block content %}{% endblock %}</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
